html {
    --first-color: lightgrey;
    --secound-color: black;
    --box-color: white;
    --first-text-color: black;
    --secound-text-color: white;
    --font: helvetica;
}

body {
    background-color: var(--first-color);
    font-family: var(--font);
    margin: 20px;
    font-size: 15px;
}

#results {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--box-color);
    border-bottom: solid 1px black;
}

header{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

h3{
    font-size: 16px;
}
