html {
    --first-color: lightgrey;
    --lightcolor: white;
    --darkcolor: black;
    --font: helvetica;
}

body {
    background-color: var(--first-color);
    font-family: var(--font);
    margin: 20px;
    font-size: 12px;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
}

form,h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 15px;
    padding: 15px;

}
.box {
    background-color: yellow;
    margin-bottom: 20px;
    border: solid 1px black;
    box-shadow: 10px 5px 5px red;
    padding: 15px;
}

#wrapper {
    display: flex;
    justify-content: center;
}

header{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
}

.done {
    border: solid black 1px;
    margin: 3px;
    background-color: green;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.border {
    border: solid black 1px;
    margin: 3px;
    display: flex;
    color: var(--darkcolor);
    padding: 15px;
    border-radius: 10px;
}

.notDone {
    border: solid black 1px;
    margin: 3px;
    opacity: 40%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
}

.darkMode {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    
}

.darkMode #wrapper {
    background-color: var(--darkcolor); 
    border: solid 1px var(--lightcolor);
}

.darkMode .done {
    border: solid 1px var(--lightcolor);
}

.darkMode .notDone {
    border: solid 1px var(--lightcolor);
}

#coursesResponsible {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

#coursesTeacher {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

#coursesStudents{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

h5{
    padding: 5px;
    margin: 0px;
    font-size: 8pt;
}